[Unit]
Description=Gagahoho Main App
After=systemd-user-sessions.service

[Service]
User=root
Type=simple
Environment="QT_QPA_PLATFORM=eglfs"
Environment="LANG=ko_KR"
Environment="LC_ALL=ko_KR"
ExecStart=-/usr/bin/gagahoho-main
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target

